<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lost & Found Management</title>
    <link rel="stylesheet" href="style.css" />
    <script>
        function navigate(page) {
            window.location.href = page + ".html";
        }
    </script>
</head>
<body>

<div class="container">

    <div class="button-group">
        <h2>Welcome to the Dashboard</h2>
        <div class="button-panel" style="display: flex; flex-direction: column; gap: 10px; max-width: 300px; margin-top: 20px;">
            <button class="buttons" onclick="navigate('register-lost-item')">Register Lost Item</button>
            <button class="buttons" onclick="navigate('register-found-item')">Register Found Item</button>
            <button class="buttons" onclick="navigate('found-items')">Check Found Items</button>
            <button class="buttons" onclick="navigate('check-lost-items')">Check Lost Items</button>
            <button class="buttons" onclick="navigate('claim')">Request </button>
            <button class="buttons" onclick="navigate('feedback')">Feedback </button>

        </div>
    </div>

</div>
</div>
</body>
</html>